@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans.eot'); /* IE9 Compat Modes */
    src: url('fonts/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/OpenSans/OpenSans.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/OpenSans/OpenSans.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/OpenSans/OpenSans.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular/Montserrat-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Montserrat-Regular/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/Montserrat-Regular/Montserrat-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold/Montserrat-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Montserrat-Bold/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/Montserrat-Bold/Montserrat-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts/Montserrat-Light/Montserrat-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Montserrat-Light/Montserrat-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/Montserrat-Light/Montserrat-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Zahrah-RegularItalic';
    src: url('fonts/Zahrah-RegularItalic/Zahrah-RegularItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Zahrah-RegularItalic/Zahrah-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Zahrah-RegularItalic/Zahrah-RegularItalic.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Zahrah-RegularItalic/Zahrah-RegularItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/Zahrah-RegularItalic/Zahrah-RegularItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Zahrah-Semibold';
    src: url('fonts/Zahrah-Semibold/Zahrah-Semibold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Zahrah-Semibold/Zahrah-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Zahrah-Semibold/Zahrah-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Zahrah-Semibold/Zahrah-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/Zahrah-Semibold/Zahrah-Semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
}