@media only screen and (max-width: 1200px) {
    .container {
        width: 100%!important;
        max-width: none!important;
        padding: 0 10px;
    }
    .top-info-box {
        padding: 20px 0 0 0;
    }
    .top-info-box .container{
        padding: 0;
    }
    header {
        position: static;
        width: 100%;
        margin-top: 15px;
    }
    .main-menu a {
        padding: 15px 12px;
    }
    .dropdown a {
        padding: 0;
    }
    .grey-bg {
        padding: 25px 0;
    }
    .testimonial-box  {
        padding: 25px;
    }
    .latest-news {
        width: 100%;
    }
}
@media only screen and (max-width: 992px) and (min-width: 768px){
    .features {
        height: 230px;
        width: 230px;
    }
    .top-cover {
        height: 500px;
    }
    .services {
        font: 15px 'Montserrat-Regular';
    }
    .location-map {
       width: 400px;
       height: 400px;
    }
}
@media only screen and (max-width: 930px) {
.header-logo {
    display: block;
    margin: auto!important;
    }
.header-top-logo{
    display:block;	
}    
}
@media only screen and (max-width: 767px) {
    header {
        text-align: center;
    }
    .features-box {
        flex-direction: column;
    }
    .features {
        margin: 15px 0;
    }
    .services-box .container {
        flex-direction: column;
    }
    .latest-news{
        flex-wrap: wrap;
    }
    .top-cover {
        height: 425px;
    }
    .main-title {
        font: 32px 'Montserrat-Light';
        margin-top: 0;
    }
    .title-secondary {
        font: 25px 'Montserrat-Light';
    }
    .title-secondary::after {
        margin: 20px auto;
    }
    .services {
        font: 15px 'Montserrat-Regular';
    }
    .services-box {
        padding: 50px 0;
    }
    .top-info-list {
        padding: 0 20px;
    }
    
    .location-map {
        width: 100%;
    }
    
    .contact-details-section {
	width: 100%;
	padding: 20px 0;
     }
}
@media only screen and (max-width: 640px) {
    .button-group button {
        width: 90%;
        margin: 0 0 20px 0;
    }
    .latest-news {
        justify-content: center;
    }
    .partners-logos ,
    .top-info-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .top-info-list li {
        padding: 5px;
    }
    .testimonial-txt {
        font: 19px 'Zahrah-RegularItalic';
    }
    footer {
        padding: 15px 0;
    }
        .location-map {
        width: 100%;
    }
    
    .contact-details-section {
	    width: 100%;
	    padding: 20px 0;
     }
     .lokking-to-hire-form .input-group, .contact-us-form .input-group {
        width: 100%;
     }
     .faq-inner {
        width: 100%;
     }
     .button-group a, .button-group a:hover {
        display: block;
        width: 80%;
        margin: 20px auto;
    }
    .testimonial-box , .services-box , .top-cover {
        background-attachment: initial;
    }
    .top-info-box {
        padding: 15px 0 0 0;
    }
}
@media only screen and (max-width: 380px) {
.skills-tickets-left, .skills-tickets-right {
    width: 100%;
}
}