* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font: 14px 'OpenSans', sans-serif;
    color: #1e1609;
}

ul {
    padding: 0;
    margin: 0;
}

a, a:hover {
    text-decoration: none;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -87px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.container {
    width: 1138px;
    margin: auto;
    position: relative;
}

.img-responsive {
    max-width: 100%;
}

.main-title {
    font: 56px 'Montserrat-Light';
    text-align: center;
}

.title-secondary {
    font: 31px 'Montserrat-Light';
    text-align: center;
    position: relative;
    display: block;
}

.title-secondary::after {
    content: '';
    height: 2px;
    width: 180px;
    margin: 35px auto;
    clear: both;
    background: #cb983a;
    display: block;
}

p {
    word-wrap: break-word;
}

/********************************
    top-info-box and header styles start
********************************/
.top-info-box {
    background: #ffffff;
    padding: 20px 20px 45px 20px;
    position: relative;
    text-align: center;
}

.top-info-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    max-width: 770px;
    margin: 0 auto;
}

.top-info-list li {
    display: inline-block;
    position: relative;
    font: 13px 'OpenSans';
    color: #1e1609;
}

.top-info-list li::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    background: url("../images/icons.png") no-repeat transparent;
    width: 28px;
    height: 25px;
}

.top-info-list li.info-phone::before {
    background-position: 0 0;
}

.top-info-list li.info-email::before {
    background-position: -65px 0;
}

.top-info-list li.info-place::before {
    background-position: -131px -3px;
}

header {
    background: #1e1609;
    padding: 0 11px;
    position: absolute;
    z-index: 22;
    left: 0;
    right: 0;
    top: 15px;
    text-align: left;
}

.main-menu li {
    display: inline-block;
    vertical-align: middle;
    font: 13px 'Montserrat-Bold';
    text-transform: uppercase;
    position: relative;
}

.main-menu a {
    color: #cb983a;
    padding: 15px 18px;
    display: block;
}
.main-menu a:hover , .main-menu .active a {
    color: #836328;
}
.dropdown {
    position: absolute;
    width: 100%;
    background: #1e1609;
    padding: 10px 0;
    display: none;
    z-index: 2222;
    min-width: 200px;
}
.dropdown li {
    display: block;
    padding: 10px;
    text-align: left;
}
.dropdown a {
    color: #cb983a;
    padding: 0;
    font-size: 11px;
}
.main-menu li:hover .dropdown {
    display: block;
}
/********************************
    top-info-box and header styles end
********************************/

/********************************
    top-cover and header styles start
********************************/
.top-cover {
    background: url("../images/top-cover.jpg") no-repeat fixed center/cover transparent;
    display: flex;
    width: 100%;
    height: 845px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.button-group {
    font: 16px 'Montserrat-Bold';
    text-transform: uppercase;
    text-align: center;
}

.orange-btn {
    background: #cb983a;
    border: 0 none;
    text-align: center;
    color: #1e1609;
    padding: 20px 34px;
    margin-right: 36px;
}

.brown-btn {
    background: #41210a;
    border: 0 none;
    text-align: center;
    color: #bca67d;
    padding: 20px 34px;
}

/********************************
    top-cover and header styles end
********************************/
/********************************
    white-content styles start
********************************/
.white-content {
    background: #ffffff;
    width: 100%;
    min-height: 300px;
    position: relative;
    padding: 25px 0 40px 0;
    z-index: 3;
}

.white-content::before,
.white-content::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    height: 105px;
}

.white-content::before {
    background: url("../images/top-cover-bottom.png") no-repeat center/cover transparent;
    top: -104px;
}

.white-content::after {
    background: url("../images/white-bg.png") no-repeat center/cover transparent;
    bottom: -104px;
}

.site-txt {
    font: 16px/1.5 'Montserrat-Light';
    text-align: center;
}

.white-content .container {
    max-width: 1000px;
    position: relative;
}

.features-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features {
    display: inline-block;
    position: relative;
    height: 270px;
    width: 270px;
    color: #ffffff;
    text-transform: capitalize;
}

.features-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    margin: auto;
}

.features-content {
    position: absolute;
    left: 48px;
    right: 57px;
    bottom: 65px;
    top: 0;
    margin: auto;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.features-icon {
    width: 100px;
    height: 100px;
    background: url("../images/icons.png") no-repeat transparent;
    display: block;
}

.mining-icon {
    background-position: 0 -57px;
}

.construction-icon {
    background-position: -180px -65px;
}

.engineering-icon {
    background-position: -358px -70px;
}

.features-title {
    font: 20px 'Montserrat-Light';
}

/*******************************
    white-content styles end
*******************************/

/*******************************
    services-box styles start
*******************************/
.services-box {
    width: 100%;
    min-height: 470px;
    background: url("../images/what-we-do.jpg") no-repeat fixed center/cover transparent;
    padding: 150px 0;
    color: #ffffff;
}

.services-box .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services {
    font: 27px 'Montserrat-Regular';
    text-align: center;
    padding: 15px;
}

.services-count {
    margin-bottom: 0;
}

.services-title {
    margin-top: 0;
    font: 27px "Montserrat-Regular";
}

.services-icon {
    display: block;
    margin: 30px auto;
}
.services-icon img {
    width: auto!important;
    margin: auto;
}
/******************************
    services-box styles end
******************************/
/*****************************
    project styles start
*****************************/
.grey-bg {
    background: #f5f5f5;
    width: 100%;
    position: relative;
    padding: 105px 0;
}

.grey-bg::before,
.grey-bg::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    height: 105px;
}

.grey-bg::before {
    background: url("../images/grey-bg-before.png") no-repeat center/cover transparent;
    top: -104px;
}

.grey-bg::after {
    background: url("../images/grey-bg-after.png") no-repeat center/cover transparent;
    bottom: -104px;
}

.latest-project-box {
    min-height: 570px;
}

.latest-project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 950px;
    margin: auto;
    flex-wrap: wrap;
}

.single-project {
    width: 296px;
    display: inline-block;
    padding: 15px;
}

.single-project-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.project-img {
    width: 100%;
    height: 160px;
    overflow: hidden;
    position: relative;
}

.project-desc {
    background: #ffffff;
    padding: 15px 10px;
    text-align: center;
    font: 14px 'Montserrat-Light';
    position: relative;
}

.project-title {
    font: 14px 'Montserrat-Light';
    margin-top: 0;
    min-height: 42px;
}

.project-link {
    display: block;
    color: #cb983a;
}

.b-lazy.b-loaded {
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.project-img {
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.single-project:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.project-title-overlay {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: rgba(0,0,0, 0.5);
    text-align: center;
    color: #ffffff;
    display: flex;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out ;
    -ms-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out ;
    align-items: center;
    justify-content: center;
    
}
.single-project:hover .project-title-overlay {
    opacity: 1;
    visibility: visible;
}

/******************************
    project styles end
******************************/
/*****************************
    testimonial-box styles start
*****************************/
.testimonial-box {
    padding: 105px 0;
    width: 100%;
    min-height: 360px;
    background: url("../images/testimonial-cover.jpg") no-repeat fixed center/cover transparent;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.testimonial-txt {
    font: 33px 'Zahrah-RegularItalic';
}

.testimonial-user-name {
    text-align: right;
    font: 27px 'Zahrah-Semibold';
}

/**********************************
    testimonial-box styles end
**********************************/
/***********************************
    partners box and styles start
***********************************/
.partners-box {
    min-height: 315px;
}

.partners-box::after {
    display: none;
}

.partners-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

/********************************
    partners box styles end
********************************/
/*******************************
    footer styles end
*******************************/
footer, .page-wrap:after {
    min-height: 87px;
}

footer {
    background: #352b1b;
    color: #cb983a;
    font: 13px 'OpenSans';
    width: 100%;
    height: 87px;
    padding: 34px 0;
    text-align: center;
}

.copyright-text {
    margin: 0;
}

/******************************
    footer styles end
*******************************/

.content-no-cover {
    padding: 100px 0;
}
.services-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.services-row .services-title {
    font: 15px "Montserrat-Light";
    min-height: 85px;
    padding: 20px;
    border: 1px solid #ededed;
    background: #ffffff;
}
.services-row .services-icon {
    margin: 0 auto;
    width: 190px;
    height: 190px;
    display: flex;
    background: #cb983a;
}
.services-row .services {
    width: 220px;
}
.lokking-to-hire-form {
    padding: 50px 0;
}
.lokking-to-hire-form .input-group{
    width: calc(100% / 2 - 2px);
    padding: 15px;
    display: inline-block;

}
.input-field{
    width: 100%;
    padding: 6px 10px;
    background: #ffffff;
    border: 1px solid #ededed;
    min-height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
}
.full-input-group {
    width: 100%;
    padding: 15px;
}
.grey-content {
    background: #fbfcfc;
}
/********************************
    faq styes start
********************************/
.faq-box {
    padding: 20px 0;
}
.title-sm {
    font: 18px 'Montserrat-Bold';
}
.faq-text {
    font: 13px/1.5 'Montserrat-Light';
}
.faq-inner {
    padding: 20px;
    width: calc(100% / 2 - 2px);
    display: inline-block;
}
/********************************
    faq styes end
********************************/
.rdo-select {
    width: 50%;

}
#map {
    width: 100%;
    height: 500px;
}