/*
Theme Name: BK Labour Hire
Theme URI: http://bklabourhire.com/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Twenty Seventeen brings your site to life with header video and immersive featured images. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentyseventeen
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font: 14px 'OpenSans', sans-serif;
    color: #1e1609;
}

ul {
    padding: 0;
    margin: 0;
}

a, a:hover {
    text-decoration: none;
    color: #cb9824;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -87px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.container {
    width: 1138px;
    margin: auto;
    position: relative;
}

.img-responsive {
    max-width: 100%;
}

.main-title {
    font: 56px 'Montserrat-Light';
    text-align: center;
}

.title-secondary {
    font: 31px 'Montserrat-Light';
    text-align: center;
    position: relative;
    display: block;
}
.lth-title-secondary {
    font: 31px 'Montserrat-Light';
    text-align: center;
    position: relative;
    display: block;    
}
.title-secondary::after,.lth-title-secondary::after {
    content: '';
    height: 2px;
    width: 180px;
    margin: 35px auto;
    clear: both;
    background: #cb983a;
    display: block;
}

p {
    word-wrap: break-word;
}

/********************************
    top-info-box and header styles start
********************************/
.top-info-box {
    background: #ffffff;
    padding: 20px 20px 45px 20px;
    position: relative;
    text-align: center;
}

.top-info-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    max-width: 770px;
    margin: 0 auto;
}

.top-info-list li {
    display: inline-block;
    position: relative;
    font: 13px 'OpenSans';
    color: #1e1609;
}

.top-info-list li::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    background: url("images/icons.png") no-repeat transparent;
    width: 28px;
    height: 25px;
}

.top-info-list li.info-phone::before {
    background-position: 0 0;
}

.top-info-list li.info-email::before {
    background-position: -65px 0;
}

.top-info-list li.info-place::before {
    background-position: -131px -3px;
}

header {
    background: #1e1609;
    padding: 0 11px;
    position: absolute;
    z-index: 22;
    left: 0;
    right: 0;
    top: 15px;
    text-align: left;
}

.main-menu li {
    display: inline-block;
    vertical-align: middle;
    font: 13px 'Montserrat-Bold';
    text-transform: uppercase;
    position: relative;
}

.main-menu a {
    color: #cb983a;
    padding: 15px 18px;
    display: block;
}
.main-menu a:hover , .main-menu .active a {
    color: #836328;
}
.dropdown {
    position: absolute;
    width: 100%;
    background: #1e1609;
    padding: 10px 0;
    display: none;
    z-index: 2222;
    min-width: 200px;
}
.dropdown li {
    display: block;
    padding: 10px;
    text-align: left;
}
.dropdown a {
    color: #cb983a;
    padding: 0;
    font-size: 11px;
}
.main-menu li:hover .dropdown {
    display: block;
}
/********************************
    top-info-box and header styles end
********************************/

/********************************
    top-cover and header styles start
********************************/
.top-cover {
    background: url("images/top-cover.jpg") no-repeat fixed center/cover transparent;
    display: flex;
    width: 100%;
    height: 845px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.button-group {
    font: 16px 'Montserrat-Bold';
    text-transform: uppercase;
    text-align: center;
}

.orange-btn, .orange-btn:hover {
    background: #cb983a;
    border: 0 none;
    text-align: center;
    color: #1e1609;
    padding: 20px 34px;
    margin-right: 36px;
    display: inline-block;
}

.brown-btn, .brown-btn:hover {
    background: #41210a;
    border: 0 none;
    text-align: center;
    color: #bca67d;
    padding: 20px 34px;
    display: inline-block;
}

.orange-btn:hover , .brown-btn:hover {
    opacity: 0.9;
}
/********************************
    top-cover and header styles end
********************************/
/********************************
    white-content styles start
********************************/
.white-content {
    background: #ffffff;
    width: 100%;
    min-height: 300px;
    position: relative;
    padding: 25px 0 40px 0;
    z-index: 3;
}

.white-content::before,
.white-content::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    height: 105px;
}

.white-content::before {
    background: url("images/top-cover-bottom.png") no-repeat center/cover transparent;
    top: -104px;
}

.white-content::after {
    background: url("images/white-bg.png") no-repeat center/cover transparent;
    bottom: -104px;
}

.site-txt {
    font: 16px/1.5 'Montserrat-Light';
    text-align: justify;
}
ul.site-txt {
 margin-left: 60px;
}

.white-content .container {
    max-width: 1000px;
    position: relative;
}

.features-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features {
    display: inline-block;
    position: relative;
    height: 270px;
    width: 270px;
    color: #ffffff;
    text-transform: capitalize;
}

.features-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    margin: auto;
}

.features-content {
    position: absolute;
    left: 48px;
    right: 57px;
    bottom: 65px;
    top: 0;
    margin: auto;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.features-icon {
    width: 100px;
    height: 100px;
    background: url("images/icons.png") no-repeat transparent;
    display: block;
}

.mining-icon {
    background-position: 0 -57px;
}

.construction-icon {
    background-position: -180px -65px;
}

.engineering-icon {
    background-position: -358px -70px;
}

.features-title {
    font: 20px 'Montserrat-Light';
}

/*******************************
    white-content styles end
*******************************/

/*******************************
    services-box styles start
*******************************/
.services-box {
    width: 100%;
    min-height: 470px;
    background: url("images/home-background-new.jpg") no-repeat fixed center/cover transparent;
    padding: 150px 0;
    color: #ffffff;
}

.services-box .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.services-box .owl-theme .owl-nav [class*=owl-] {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 80px;
    margin: auto;
    text-indent: 200px;
    width: 80px;
    overflow: hidden;
    background: transparent;
    padding: 0;
}
.services-box .owl-theme .owl-nav [class*=owl-]::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    margin: auto;
}


.services-box .owl-theme .owl-nav .owl-prev:after{
    transform: rotate(135deg);
}

.services-box .owl-theme .owl-nav .owl-next:after{
    transform: rotate(-45deg);
}

.services-box .owl-theme .owl-nav .owl-prev {
    left: 0;
}

.services-box .owl-theme .owl-nav .owl-next {
    right: 0;
}

.services-box  .owl-dots {
    display: none;
}
.services {
    font: 27px 'Montserrat-Regular';
    text-align: center;
    padding: 15px;
}

.services-count {
    margin-bottom: 0;
}

.services-title {
    margin-top: 0;
    font: 27px "Montserrat-Regular";
}

.services-icon {
    display: block;
    margin: 30px auto;
}
.services-icon img {
    width: auto!important;
    margin: auto;
}

.services-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.services-row .services-title {
    font: 15px "Montserrat-Light";
    min-height: 85px;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    z-index: 2;
    align-items: center;
    color: #fff;
    justify-content: center;
    padding: 10px;
    display: flex;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s ;
    -ms-transition: all ease-in-out .3s ;
    -o-transition: all ease-in-out .3s ;
    transition: all ease-in-out .3s ;
}
.services-row .services-icon {
    margin: 0 auto;
    width: 190px;
    height: 190px;
    display: flex;
    background: #cb983a;
}
.services-row .services {
    width: 220px;
}

.services-inner {
    position: relative;
}


.services-inner:hover .services-title {
    opacity: 1;
    visibility: visible;
}
/******************************
    services-box styles end
******************************/
/*****************************
    project styles start
*****************************/
.grey-bg {
    background: #f5f5f5;
    width: 100%;
    position: relative;
    padding: 105px 0;
}

.grey-bg::before,
.grey-bg::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    height: 105px;
}

.grey-bg::before {
    background: url("images/grey-bg-before.png") no-repeat center/cover transparent;
    top: -104px;
}

.grey-bg::after {
    background: url("images/grey-bg-after.png") no-repeat center/cover transparent;
    bottom: -104px;
}

.latest-project-box {
    min-height: 570px;
}

.latest-project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 950px;
    margin: auto;
    flex-wrap: wrap;
}

.single-project {
    width: 296px;
    display: inline-block;
    padding: 15px;
}

.single-project-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.project-img {
    width: 100%;
    height: 160px;
    overflow: hidden;
    position: relative;
}

.project-desc {
    background: #ffffff;
    padding: 15px 10px;
    text-align: center;
    font: 14px 'Montserrat-Light';
    position: relative;
}

.project-title {
    font: 14px 'Montserrat-Light';
    margin-top: 0;
    min-height: 42px;
}

.project-link {
    display: block;
    color: #cb983a;
}

.b-lazy.b-loaded {
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.project-img {
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.single-project:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.project-title-overlay {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: rgba(0,0,0, 0.5);
    text-align: center;
    color: #ffffff;
    display: flex;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out ;
    -ms-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out ;
    align-items: center;
    justify-content: center;

}
.single-project:hover .project-title-overlay {
    opacity: 1;
    visibility: visible;
}

.project-details-box .featured-image {
     float: left;
     
     padding: 0 15px 15px 0;
}

/******************************
    project styles end
******************************/
/*****************************
    testimonial-box styles start
*****************************/
.testimonial-box-home {
    background: url("images/australian-worker.jpg") no-repeat fixed center/cover transparent;
}
.testimonial-box-about-us {
    background: url("images/who-we-are.png") no-repeat fixed center/cover transparent;
}
.testimonial-box-who-chooses-us {
    background: url("images/who-chooses-us.jpg") no-repeat fixed center/cover transparent;
}
.testimonial-box-safety {
    background: url("images/health-safety.jpg") no-repeat fixed center/cover transparent;
}
.testimonial-box-labour-hire-services{
    background: url("images/labour-hire-services.png") no-repeat fixed center/cover transparent;
}
.testimonial-box-looking-to-hire{
    background: url("images/looking-to-hire.png") no-repeat fixed center/cover transparent;
}
.testimonial-box-looking-for-work{
    background: url("images/looking-for-work.png") no-repeat fixed center/cover transparent;
}
.testimonial-box-register{
    background: url("images/register.png") no-repeat fixed center/cover transparent;
}
.testimonial-box-faq{
    background: url("images/faq.png") no-repeat fixed center/cover transparent;
}
.testimonial-box-contact-us{
    background: url("images/contact-us.png") no-repeat fixed center/cover transparent;
}
.testimonial-box{
    padding: 105px 0;
    width: 100%;
    min-height: 360px;
    color: #ffffff;
    display: flex;
    align-items: center;
}


.testimonial-txt {
    font: 33px 'Zahrah-RegularItalic';
}

.testimonial-user-name {
    text-align: right;
    font: 27px 'Zahrah-Semibold';
}

/**********************************
    testimonial-box styles end
**********************************/
/***********************************
    partners box and styles start
***********************************/
.partners-box {
    min-height: 315px;
}

.partners-box::after {
    display: none;
}

.partners-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

/********************************
    partners box styles end
********************************/
/*******************************
    footer styles end
*******************************/
footer, .page-wrap:after {
    min-height: 87px;
}

footer {
    background: #352b1b;
    color: #cb983a;
    font: 13px 'OpenSans';
    width: 100%;
    height: 105px;
    padding: 34px 0;
    text-align: center;
}

.copyright-text {
    margin: 0;
}

/******************************
    footer styles end
*******************************/

.content-no-cover {
    padding: 100px 0;
}

.lokking-to-hire-form, .contact-us-form {
    padding: 50px 0;
}

.contact-details-title {
    margin-top: 0;
}

.contact-page-container > div {
    display: inline-block;
    vertical-align: top;
}

.contact-details-section {
    padding: 0 20px;
}

.lokking-to-hire-form .input-group, .contact-us-form .input-group{
    width: calc(100% / 2 - 2px);
    padding: 15px;
    display: inline-block;

}

.addresses .address {
    padding-bottom: 40px;
}

.input-field{
    width: 100%;
    padding: 6px 10px;
    background: #ffffff;
    border: 1px solid #ededed;
    min-height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
}
.full-input-group {
    width: 100%;
    padding: 15px;
}
.grey-content {
    background: #fbfcfc;
}
/********************************
    faq styes start
********************************/
.faq-box {
    padding: 20px 0;
}
.title-sm {
    font: 18px 'Montserrat-Bold';
}
.faq-text {
    font: 13px/1.5 'Montserrat-Light';
}
.faq-inner {
    width: calc(100% / 2 - 2px);
    display: inline-block;
    vertical-align: top;
    padding: 0 40px;
}
/********************************
    faq styes end
********************************/
.rdo-select {
    width: 50%;

}
#map {
    width: 100%;
    height: 500px;
}
.screen-reader-text{
    color: #cb983a;
}
/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}
.screen-reader-text {
    clip: auto;
    height: auto;
    overflow: auto;
    position: relative !important;
    width: auto;
}

.social-links-menu li{
    list-style-type: none;
}

/****************************/
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #352b1b;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #352b1b;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #352b1b;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #352b1b;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #352b1b;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #352b1b;
}
.fa-google-plus:hover {
    background-color: #e25714;
}
.menu-social-container{
    text-align: center;
    width: 100%;
}
#menu-social{
    display: inline-block;
}
#menu-social li{
    width: auto;
    display: inline-block;
    float: left;
    margin-left: 5px;
}
.title-sm {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: #fbaa26 !important;
    margin-bottom: 10px;
}
span.wpcf7-list-item {
    display: block;
    margin: 0.5em 0.5em 0.5em 0.5em;
}
.wpcf7-list-item-label {
    margin-left: 10px;
    display: inline-block;
}
.wpcf7-list-item-label{
    cursor: pointer;
}
.project-img{
    cursor: pointer;
}
.h2-project-title{
    color: #cb983a;
}
.project-client-name,.project-service-name,.project-description{
    font-weight: 500;
    color: #cb983a;
}
.labour-hire-services{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    height: 268px;
    width: 268px;
}
.mining {
content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    height: 268px;
    width: 268px;
    background: url(images/mining.png) no-repeat transparent;
}
.engineering{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    height: 268px;
    width: 268px;
    background: url(images/engineering.png) no-repeat transparent;
}
.construction {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    height: 268px;
    width: 268px;
    background: url(images/construction.png) no-repeat transparent;
}
.portals{
    margin-top: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.portal-icon {
    margin: 0 auto;
    width: 190px;
    height: 190px;
    display: flex;
}
.portal-icon img {
    width: auto!important;
    margin: auto;
}
div.labour-hire-services > h3.portal-title{
    text-transform: uppercase;
}
.portal-title {
    margin-top: -20px;
    color: #000000;
    font: 14px "Montserrat-Regular";
}
.location-map{
    width: 500px;
    height: 500px;
}
button#responsive-menu-button {
    width: 35px !important;
    height: 35px !important;
    position: fixed !important;
    top: 15px !important;
    left: 5px !important;
    background: #41210a !important;
    right: auto !important;
   }
.looking-to-hire-section,.looking-to-work-section {
    text-align: center;
    margin: 0 auto;
    margin-left: 35px;
}
.skills-tickets-left, .skills-tickets-right {
    width: calc(100% / 2 - 2px);
    display: inline-block;
    vertical-align: top;
}

#answer{
   display:none;
}
.addresses{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.service-portal-title {
    margin-top: 20px;
    color: #000000;
    font: 14px "Montserrat-Regular";
}
#responsive-menu-container{
    padding: 75px 0 0 0;
}
.header-top-logo{
    display:none;
    margin-bottom: 15px;
}
.header-top-logo .img-responsive {
    max-width: 70%;
}